<div class="center-content">
<mat-card class="profile-card">

        <!--<mat-card-title>PROFILO</mat-card-title>-->
        <mat-card-header></mat-card-header>
        <img mat-card-image src="{{user.url_image}}">

        <br>

        <label>
          <input style="display : none" type="file" (change)="detectFiles($event)" #fileInput>
        </label>
        <button class="btn btn-primary" (click)="fileInput.click()">Carica Immagine</button>
        <mat-progress-bar mode="buffer" value={{percentuale}} *ngIf="caricamento"></mat-progress-bar>

      

        <button class="btn btn-primary"
                style="margin:5px;"
                [disabled]="!selectedFiles"
                (click)="uploadSingle()">
                Upload
        
        </button>
        <mat-card-content>
    
        <mat-form-field class="example-full-width">
            <mat-label>Nome</mat-label>
            <input type="nome" matInput value="{{user.nome}}" readonly>
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Cognome</mat-label>
            <input type="cognome" matInput value="{{user.cognome}}" readonly>
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput value="{{user.email}}" readonly>
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input type="username" matInput value="{{user.username}}" readonly>
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>

          <form [formGroup]="profileForm">
            <mat-form-field class="example-full-width">
              <mat-label>Citta</mat-label>
              <input type="citta" matInput value="{{user.citta}}" [readonly]="!editable" formControlName="citta">
              <mat-icon *ngIf="!editable" matSuffix>location_city</mat-icon>
              <mat-icon *ngIf="editable" matSuffix>edit</mat-icon>
            </mat-form-field>
  
            <mat-form-field class="example-full-width">
              <mat-label>Telefono</mat-label>
              <input type="phone" matInput value="{{user.telefono}}" [readonly]="!editable" formControlName="telefono">
              <mat-icon *ngIf="!editable" matSuffix>phone</mat-icon>
              <mat-icon *ngIf="editable" matSuffix>edit</mat-icon>
              <mat-error *ngIf="editable">{{phoneErrorMessage()}}</mat-error>
            </mat-form-field>
          </form>
  
            <button mat-raised-button style="margin: 25px;" color="primary" [hidden]="editable" (click)="buttonEdit()">Modifica</button>
            <button mat-raised-button style="margin: 25px;" color="primary" [hidden]="!editable" (click)="updateField()">Conferma</button>
  
      </mat-card-content>
</mat-card>
</div>
